.search-container {
  background-color: white;

  input {
  padding: 6px 21px;
  font-size: 23px;
  color: #363636;
  border: none;
  width: 90%;
  height: 50px;
  border-radius: 32px;
    &:focus{
      outline: none;
    }
  }
  border-radius: 32px;
}

.search-button {
  color: #363636;
  margin-right: 30px;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
