<div>
  <%= cl_image_tag current_user.photo_url, height: 300, width: 400, crop: :fill %>
</div>
<p>
  email:
  <%= current_user.email %>
</p>
<p>
  name:
  <%= current_user.name %>
</p>
<p>
  location:
  <%= current_user.location %>
</p>



